# Concatenating all tools and strains at threshold 0, 10, 100, 1000, and 10K

In [80]:
import os
import allel
import pandas as pd


strain=['A_J','AKR_J','BALB_CJ','CBA_J','C3H_HeJ','DBA_2J','LP_J']

tools=['BioGraph*',
'breakdancer',
'clever',
'delly',
'gasv',
'gridss',
'indelminer',
'mistrvar',
'pindel',
'popdel',
'rdxplorer',
'smoove',
'crest',
'genomestrip',
'manta_diploidSV',
'Tardis']

## 0 bp Threshold

In [81]:
#0 threshold deletions

th=0
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_0 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.vcf'
        
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_0 = pd.concat([df_current, df_0],ignore_index=True)   
        
        else:
            print("Empty File: " + file)
            
df_0.head()

/home/vc/.local/lib/python3.5/site-packages/allel/io/vcf_read.py:1736: UserWarning: multiple INFO headers for 'SVLEN'
  warnings.warn('multiple INFO headers for %r' % k)
/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J         0  Tardis
1   FP   1705  6055228   LP_J         0  Tardis
2   FP   2445  6055227   LP_J         0  Tardis
3   FP    582  6057082   LP_J         0  Tardis
4   FP    140  6829728   LP_J         0  Tardis

In [82]:
#0 threshold non-deletions
import os

th=0
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_0_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
    for t in tools:
        
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/non-deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.nondel.vcf'
        
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
#             print ("----")
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_0_nondel = pd.concat([df_current, df_0_nondel],ignore_index=True)   
            
        else:
            print("Empty File: " + file)
        
df_0_nondel.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()
/home/vc/.local/lib/python3.5/site-packages/allel/io/vcf_read.py:322: UserWarning: error parsing integer value; field: POS; variant: -1
  chunks = [d[0] for d in it]
/home/vc/.local/lib/python3.5/site-packages/allel/io/vcf_read.py:322: UserWarning: error parsing integer value; field: POS; variant: 0
  chunks = [d[0] for d in it]

  flag   length  position strain threshold    tool
0            -1         0   LP_J         0  Tardis
1            -1         0   LP_J         0  Tardis
2   TN  2942031   3113197   LP_J         0  Tardis
3   TN  7962541   8890415   LP_J         0  Tardis
4   TN   164720  16853151   LP_J         0  Tardis

## 10 bp Threshold

In [83]:
#10 threshold deletions
#missing files: pindel.BALB_CJ, and platypus.BALB_CJ
#tools were not able to run on mouse data; ignore?

th=10     
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_10 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.vcf'
        
        if os.path.exists(file):
            callset = allel.read_vcf(file,fields='*')
            if callset!=None:
                df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
                df_10 = pd.concat([df_current, df_10],ignore_index=True)

            else:
                print("Empty File: " + file)
        else:
            print("Nonexistant File: " + file)
            
df_10.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J        10  Tardis
1   FP   1705  6055228   LP_J        10  Tardis
2   FP   2445  6055227   LP_J        10  Tardis
3   FP    582  6057082   LP_J        10  Tardis
4   FP    140  6829728   LP_J        10  Tardis

In [84]:
#10 threshold non-deletions
th=10     
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_10_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/non-deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.nondel.vcf'
        
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_10_nondel = pd.concat([df_current, df_10_nondel],ignore_index=True)
            
        else:
            print("Empty File: " + file)
            
df_10_nondel.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

  flag   length  position strain threshold    tool
0            -1         0   LP_J        10  Tardis
1            -1         0   LP_J        10  Tardis
2   TN  2942031   3113197   LP_J        10  Tardis
3   TN  7962541   8890415   LP_J        10  Tardis
4   TN   164720  16853151   LP_J        10  Tardis

## 100 bp Threshold

In [85]:
#100 threshold deletions
#missing files: pindel.BALB_CJ, and platypus.BALB_CJ

th=100
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_100 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.vcf'
        
        if os.path.exists(file):
            callset = allel.read_vcf(file,fields='*')
            if callset!=None:
                df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
                df_100 = pd.concat([df_current, df_100],ignore_index=True)
        
            else:
                print("Empty File: " + file)
                
        else:
            print("Nonexistant File: " + file)
            
df_100.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J       100  Tardis
1   FP   1705  6055228   LP_J       100  Tardis
2   FP    582  6057082   LP_J       100  Tardis
3   FP    140  6829728   LP_J       100  Tardis
4   FP   1922  7215484   LP_J       100  Tardis

In [86]:
#100 threshold non-deletions

th=100     
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_100_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/non-deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.nondel.vcf'
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_100_nondel = pd.concat([df_current, df_100_nondel],ignore_index=True)
            
        else:
            print("Empty File: " + file)
            
df_100_nondel.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

  flag   length  position strain threshold    tool
0            -1         0   LP_J       100  Tardis
1            -1         0   LP_J       100  Tardis
2   TN  2942031   3113197   LP_J       100  Tardis
3   TN  7962541   8890415   LP_J       100  Tardis
4   TN   164720  16853151   LP_J       100  Tardis

## 1000 bp Threshold

In [87]:
#1000 threshold deletions
#missing files: pindel.BALB_CJ, and platypus.BALB_CJ

th=1000    
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_1000 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.vcf'
        
        if os.path.exists(file):
            callset = allel.read_vcf(file,fields='*')
            if callset!=None:
                df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
                df_1000 = pd.concat([df_current, df_1000],ignore_index=True)
            
        else:
            print("Empty File: " + file)
            
    else:
        print ("Nonexistant File: " + file)
           
df_1000.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.A_J.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.AKR_J.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.BALB_CJ.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.CBA_J.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.C3H_HeJ.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.DBA_2J.chr19.100p_sorted.modified.vcf
Nonexistant File: ../Data/raw_data/mouse/custom_vcf_fulldata/1000t/deletions/nf_1000t.Tardis.LP_J.chr19.100p_sorted.modified.vcf

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J      1000  Tardis
1   FP   2445  6055227   LP_J      1000  Tardis
2   FP    582  6057082   LP_J      1000  Tardis
3   FP    140  6829728   LP_J      1000  Tardis
4   FP   1922  7215484   LP_J      1000  Tardis

In [88]:
df_1000

       flag length  position strain threshold       tool
0        FP    389   3112809   LP_J      1000     Tardis
1        FP   2445   6055227   LP_J      1000     Tardis
2        FP    582   6057082   LP_J      1000     Tardis
3        FP    140   6829728   LP_J      1000     Tardis
4        FP   1922   7215484   LP_J      1000     Tardis
5        FP    311  17277456   LP_J      1000     Tardis
6        FP   6219  17303364   LP_J      1000     Tardis
7        FP    546  17335461   LP_J      1000     Tardis
8        FP  20749  21598360   LP_J      1000     Tardis
9        FP  33386  21619242   LP_J      1000     Tardis
10       FP   1258  23208995   LP_J      1000     Tardis
11       FP   3434  23210630   LP_J      1000     Tardis
12       FP   3120  23210630   LP_J      1000     Tardis
13       FP   4208  23214196   LP_J      1000     Tardis
14       FP    489  23214152   LP_J      1000     Tardis
15       FP   3645  23214767   LP_J      1000     Tardis
16       FP  10369  23218555   LP_J      1000     Tardis
17       FP   9627  23218555   LP_J      1000     Tardis
18       FP    629  23228307   LP_J      1000     Tardis
19       FP    347  25958129   LP_J      1000     Tardis
20       FP    578  27095140   LP_J      1000     Tardis
21       FP    302  39692745   LP_J      1000     Tardis
22       FP   4820  41468141   LP_J      1000     Tardis
23       FP    401  42939428   LP_J      1000     Tardis
24       FP    744  43536647   LP_J      1000     Tardis
25       FP    708  44186087   LP_J      1000     Tardis
26       FP    161  46048741   LP_J      1000     Tardis
27       FP    689  52759777   LP_J      1000     Tardis
28       FP    255  53349176   LP_J      1000     Tardis
29       FP    336  55518257   LP_J      1000     Tardis
...     ...    ...       ...    ...       ...        ...
864323   TP    130  59977556    A_J      1000  BioGraph*
864324   TP    135  59983358    A_J      1000  BioGraph*
864325   TP   1527  59998319    A_J      1000  BioGraph*
864326   TP   6245  60018700    A_J      1000  BioGraph*
864327   TP    636  60056188    A_J      1000  BioGraph*
864328   TP    212  60070105    A_J      1000  BioGraph*
864329   TP    162  60231982    A_J      1000  BioGraph*
864330   TP    102  60241348    A_J      1000  BioGraph*
864331   TP    201  60290957    A_J      1000  BioGraph*
864332   TP    344  60309278    A_J      1000  BioGraph*
864333   TP   7227  60347559    A_J      1000  BioGraph*
864334   TP     91  60479695    A_J      1000  BioGraph*
864335   TP    221  60572725    A_J      1000  BioGraph*
864336   TP    215  60585844    A_J      1000  BioGraph*
864337   TP    181  60627412    A_J      1000  BioGraph*
864338   TP   1082  60641256    A_J      1000  BioGraph*
864339   TP   6478  60643753    A_J      1000  BioGraph*
864340   TP    540  60657081    A_J      1000  BioGraph*
864341   TP     96  60690742    A_J      1000  BioGraph*
864342   TP   1133  60703643    A_J      1000  BioGraph*
864343   TP    126  60744211    A_J      1000  BioGraph*
864344   TP    146  60801537    A_J      1000  BioGraph*
864345   TP    692  60828815    A_J      1000  BioGraph*
864346   TP    134  60852991    A_J      1000  BioGraph*
864347   TP   8731  60925302    A_J      1000  BioGraph*
864348   TP    156  60948603    A_J      1000  BioGraph*
864349   TP    203  61026660    A_J      1000  BioGraph*
864350   TP    609  61114188    A_J      1000  BioGraph*
864351   TP   6468  61168770    A_J      1000  BioGraph*
864352   TP    121  61192223    A_J      1000  BioGraph*

[864353 rows x 6 columns]

In [89]:
#1000 threshold non-deletions

th=1000    
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_1000_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/non-deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.nondel.vcf'
        
        
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_1000_nondel = pd.concat([df_current, df_1000_nondel],ignore_index=True)
            
        else:
            print("Empty File: " + file)
        
df_1000_nondel.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

  flag   length  position strain threshold    tool
0            -1         0   LP_J      1000  Tardis
1            -1         0   LP_J      1000  Tardis
2   TN  2942031   3113197   LP_J      1000  Tardis
3   TN  7962541   8890415   LP_J      1000  Tardis
4   TN   164720  16853151   LP_J      1000  Tardis

## 10000 bp Threshold

In [90]:
#10000 threshold deletions
#missing files: pindel.BALB_CJ, and platypus.BALB_CJ

th=10000    
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_10000 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.vcf'
        
        if os.path.exists(file):
            callset = allel.read_vcf(file,fields='*')
            if callset!=None:
                df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
                df_10000 = pd.concat([df_current, df_10000],ignore_index=True)
            
            else:
                print("Empty File: " + file)
                
        else:
            print("Nonexistant File: " + file)
        
df_10000.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J     10000  Tardis
1   FP   2445  6055227   LP_J     10000  Tardis
2   FP    582  6057082   LP_J     10000  Tardis
3   FP    140  6829728   LP_J     10000  Tardis
4   FP   1922  7215484   LP_J     10000  Tardis

In [91]:
#10000 threshold non-deletions

th=10000    
df_current = pd.DataFrame(columns=['strain','length','flag','position','threshold'])
df_10000_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
    for t in tools:
        file='../Data/raw_data/mouse/custom_vcf_fulldata/'+str(th)+'t/non-deletions/nf_'+str(th)+'t.'+t+'.'+s+'.chr19.100p_sorted.modified.nondel.vcf'
        
        
        callset = allel.read_vcf(file,fields='*')
        if callset!=None:
            df_current = pd.DataFrame({'tool': t, 'strain': s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
            df_10000_nondel = pd.concat([df_current, df_10000_nondel],ignore_index=True)
        else:
            print("Empty File: " + file)
           
        
df_10000_nondel.head()

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

  flag   length  position strain threshold    tool
0            -1         0   LP_J     10000  Tardis
1            -1         0   LP_J     10000  Tardis
2   TN  2942031   3113197   LP_J     10000  Tardis
3   TN  7962541   8890415   LP_J     10000  Tardis
4   TN   164720  16853151   LP_J     10000  Tardis

In [92]:
%store df_10
%store df_100
%store df_1000
%store df_10000
%store df_10_nondel
%store df_100_nondel
%store df_1000_nondel
%store df_10000_nondel

Stored 'df_10' (DataFrame)
Stored 'df_100' (DataFrame)
Stored 'df_1000' (DataFrame)
Stored 'df_10000' (DataFrame)
Stored 'df_10_nondel' (DataFrame)
Stored 'df_100_nondel' (DataFrame)
Stored 'df_1000_nondel' (DataFrame)
Stored 'df_10000_nondel' (DataFrame)

In [93]:
df_10.to_csv('../Data/analysis_files/df_10.csv')
df_100.to_csv('../Data/analysis_files/df_100.csv')
df_1000.to_csv('../Data/analysis_files/df_1000.csv')
df_10000.to_csv('../Data/analysis_files/df_10000.csv')

df_10_nondel.to_csv('../Data/analysis_files/df_10_nondel.csv')
df_100_nondel.to_csv('../Data/analysis_files/df_100_nondel.csv')
df_1000_nondel.to_csv('../Data/analysis_files/df_1000_nondel.csv')
df_10000_nondel.to_csv('../Data/analysis_files/df_10000_nondel.csv')

## Concatenate

In [94]:
#List of your dataframes
#removed df_0 and df_0_nondel for graphing purposes
pdList = [df_10,df_100,df_1000,df_10000,df_10_nondel,df_100_nondel,df_1000_nondel,df_10000_nondel] 
df_cat = pd.concat(pdList)

In [95]:
df_cat.head()

  flag length position strain threshold    tool
0   FP    389  3112809   LP_J        10  Tardis
1   FP   1705  6055228   LP_J        10  Tardis
2   FP   2445  6055227   LP_J        10  Tardis
3   FP    582  6057082   LP_J        10  Tardis
4   FP    140  6829728   LP_J        10  Tardis

In [96]:
#output counts for TP, FP, TN rows are not the same as Varuni's; due to missing files?
group_data_TP=df_cat[df_cat['flag'] == 'TP'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_TP=group_data_TP.rename(columns={"flag": "nTP"})
group_data_TP.shape

(434, 4)

In [97]:
group_data_TP.head(20)

         tool  threshold   strain  nTP
0   BioGraph*         10    AKR_J   36
1   BioGraph*         10      A_J   47
2   BioGraph*         10  BALB_CJ   45
3   BioGraph*         10  C3H_HeJ   41
4   BioGraph*         10    CBA_J   44
5   BioGraph*         10   DBA_2J   45
6   BioGraph*         10     LP_J   39
7   BioGraph*        100    AKR_J  249
8   BioGraph*        100      A_J  279
9   BioGraph*        100  BALB_CJ  269
10  BioGraph*        100  C3H_HeJ  251
11  BioGraph*        100    CBA_J  272
12  BioGraph*        100   DBA_2J  285
13  BioGraph*        100     LP_J  222
14  BioGraph*       1000    AKR_J  269
15  BioGraph*       1000      A_J  304
16  BioGraph*       1000  BALB_CJ  294
17  BioGraph*       1000  C3H_HeJ  278
18  BioGraph*       1000    CBA_J  302
19  BioGraph*       1000   DBA_2J  316

In [98]:
group_data_FP=df_cat[df_cat['flag'] == 'FP'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_FP=group_data_FP.rename(columns={"flag": "nFP"})
group_data_FP.shape

(448, 4)

In [99]:
group_data_FP.head()

        tool  threshold   strain  nFP
0  BioGraph*         10    AKR_J  389
1  BioGraph*         10      A_J  421
2  BioGraph*         10  BALB_CJ  417
3  BioGraph*         10  C3H_HeJ  416
4  BioGraph*         10    CBA_J  445

In [100]:
group_data_TN=df_cat[df_cat['flag'] == 'TN'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_TN=group_data_TN.rename(columns={"flag": "nTN"})
group_data_TN.shape

(448, 4)

In [101]:
#fill missing combinations with 0s
#removed 0 threshold group since it = 0 for all tools
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_TP['tool'] == t) & (group_data_TP['strain'] == s) & (group_data_TP['threshold'] == th)).any()):
                group_data_TP = group_data_TP.append({'tool' : t , 'strain' : s,'threshold' : th,'nTP' : 0} , ignore_index=True)
group_data_TP.shape

(448, 4)

In [102]:
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_FP['tool'] == t) & (group_data_FP['strain'] == s) & (group_data_FP['threshold'] == th)).any()):
                #group_data_FP = group_data_FP.append({'tool' : t , 'strain' : s,'threshold' : th,'nFP' : 0} , ignore_index=True)
                print (s,t,th)
group_data_FP.shape

(448, 4)

In [103]:
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_TN['tool'] == t) & (group_data_TN['strain'] == s) & (group_data_TN['threshold'] == th)).any()):
                group_data_TN = group_data_TN.append({'tool' : t , 'strain' : s,'threshold' : th,'nTN' : 0} , ignore_index=True)
                #print (s,t,th)
group_data_TN.shape

(448, 4)

In [104]:
#merge TP and FP
df_merge=pd.merge(group_data_TP, group_data_FP,on=['tool','threshold','strain'])
df_merge=pd.merge(df_merge, group_data_TN,on=['tool','threshold','strain'])
df_merge.shape

(448, 6)

In [105]:
df_merge.head(10)

        tool  threshold   strain  nTP  nFP  nTN
0  BioGraph*         10    AKR_J   36  389  206
1  BioGraph*         10      A_J   47  421  220
2  BioGraph*         10  BALB_CJ   45  417  237
3  BioGraph*         10  C3H_HeJ   41  416  247
4  BioGraph*         10    CBA_J   44  445  270
5  BioGraph*         10   DBA_2J   45  454  279
6  BioGraph*         10     LP_J   39  336  213
7  BioGraph*        100    AKR_J  249  176  289
8  BioGraph*        100      A_J  279  189  317
9  BioGraph*        100  BALB_CJ  269  193  330

In [106]:
#true SV deletions
df_current = pd.DataFrame(columns=['strain','length'])
df = pd.DataFrame(columns=['strain','length'])


for s in strain:
    file='../Data/gold_standard/mouse_vcf/'+s+'_reference.vcf'
    callset = allel.read_vcf(file,fields='*')
    
    df_current = pd.DataFrame({'strain': s, 'length': callset['variants/SVLEN']})
    df = pd.concat([df_current, df],ignore_index=True)
group_data_true = df.groupby(['strain'],as_index=False).count()
group_data_true=group_data_true.rename(columns={"length": "n_true"})
group_data_true

/home/vc/.local/lib/python3.5/site-packages/ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

    strain  n_true
0    AKR_J     504
1      A_J     533
2  BALB_CJ     545
3  C3H_HeJ     539
4    CBA_J     586
5   DBA_2J     609
6     LP_J     483

In [107]:
df_merge=pd.merge(df_merge, group_data_true)
df_merge.shape

(448, 7)

In [108]:
df_merge

                tool  threshold strain  nTP    nFP   nTN  n_true
0          BioGraph*         10  AKR_J   36    389   206     504
1          BioGraph*        100  AKR_J  249    176   289     504
2          BioGraph*       1000  AKR_J  269    156   299     504
3          BioGraph*      10000  AKR_J  291    134   347     504
4             Tardis         10  AKR_J   51    245   284     504
5             Tardis        100  AKR_J  217     79   341     504
6             Tardis       1000  AKR_J  243     53   350     504
7             Tardis      10000  AKR_J  250     46   390     504
8        breakdancer         10  AKR_J    9    527   253     504
9        breakdancer        100  AKR_J  254    282   314     504
10       breakdancer       1000  AKR_J  311    225   348     504
11       breakdancer      10000  AKR_J  325    211   393     504
12            clever         10  AKR_J   54   9551    31     504
13            clever        100  AKR_J  336   9269    53     504
14            clever       1000  AKR_J  396   9209   188     504
15            clever      10000  AKR_J  488   9117   298     504
16             crest        100  AKR_J   67    159  1007     504
17             crest       1000  AKR_J  138     88  1015     504
18             crest      10000  AKR_J  149     77  1099     504
19             delly         10  AKR_J   69    854   117     504
20             delly        100  AKR_J  311    612   188     504
21             delly       1000  AKR_J  353    570   208     504
22             delly      10000  AKR_J  405    518   379     504
23              gasv        100  AKR_J   68  12328     9     504
24              gasv       1000  AKR_J  304  12092    35     504
25              gasv      10000  AKR_J  496  11900   508     504
26       genomestrip         10  AKR_J   12    218   116     504
27       genomestrip        100  AKR_J  126    104   170     504
28       genomestrip       1000  AKR_J  148     82   188     504
29       genomestrip      10000  AKR_J  156     74   298     504
..               ...        ...    ...  ...    ...   ...     ...
418       indelminer         10   LP_J   15  13401   137     483
419       indelminer        100   LP_J   67  13349   137     483
420       indelminer       1000   LP_J  189  13227   159     483
421       indelminer      10000   LP_J  347  13069  1265     483
422  manta_diploidSV         10   LP_J   60    422   873     483
423  manta_diploidSV        100   LP_J  312    170  1052     483
424  manta_diploidSV       1000   LP_J  337    145  1077     483
425  manta_diploidSV      10000   LP_J  361    121  1293     483
426         mistrvar         10   LP_J   18   5554    54     483
427         mistrvar        100   LP_J   97   5475    59     483
428         mistrvar       1000   LP_J  183   5389    82     483
429         mistrvar      10000   LP_J  430   5142   789     483
430           pindel         10   LP_J   43  76321    43     483
431           pindel        100   LP_J  195  76169    45     483
432           pindel       1000   LP_J  340  76024   131     483
433           pindel      10000   LP_J  480  75884  4239     483
434           popdel         10   LP_J    6    216   256     483
435           popdel        100   LP_J  173     49   317     483
436           popdel       1000   LP_J  210     12   336     483
437           popdel      10000   LP_J  215      7   359     483
438        rdxplorer         10   LP_J    4   2662    53     483
439        rdxplorer        100   LP_J  132   2534    27     483
440        rdxplorer       1000   LP_J  227   2439    59     483
441        rdxplorer      10000   LP_J  393   2273   187     483
442           smoove         10   LP_J   78    322   245     483
443           smoove        100   LP_J  281    119   331     483
444           smoove       1000   LP_J  315     85   348     483
445           smoove      10000   LP_J  331     69   423     483
446             gasv         10   LP_J    0  11605     9     483
447            crest         10   LP_J    0    299  3517     483

[448 rows x 7 columns]

## Calculating precision, sensitivity, specificity, f-score

In [109]:
df_merge['nFN']=df_merge['n_true']-df_merge['nTP']

df_merge['sensitivity']=df_merge['nTP']/df_merge['n_true']
df_merge['precision']=df_merge['nTP']/(df_merge['nTP']+df_merge['nFP'])
df_merge['specificity']=df_merge['nTN']/(df_merge['nTN']+df_merge['nFP'])
df_merge['f-score']=2*(df_merge['sensitivity']*df_merge['precision'])/(df_merge['sensitivity']+df_merge['precision']+0.00000001)
df_merge.head()

,tool,threshold,strain,nTP,nFP,nTN,n_true,nFN,sensitivity,precision,specificity,f-score
0,BioGraph*,10,AKR_J,36,389,206,504,468,0.071429,0.084706,0.346218,0.077503
1,BioGraph*,100,AKR_J,249,176,289,504,255,0.494048,0.585882,0.621505,0.536060
2,BioGraph*,1000,AKR_J,269,156,299,504,235,0.533730,0.632941,0.657143,0.579117
3,BioGraph*,10000,AKR_J,291,134,347,504,213,0.577381,0.684706,0.721414,0.626480
4,Tardis,10,AKR_J,51,245,284,504,453,0.101190,0.172297,0.536862,0.127500

In [115]:
#count number of TP/FP/TN/FN for each tool at each threshold
df_sum=df_merge.groupby(['tool','threshold'],as_index=False)['nTP','nFP','nFN','nTN'].sum()
df_sum.head(10)

          tool  threshold   nTP   nFP   nFN   nTN
0    BioGraph*         10   297  2878  3502  1672
1    BioGraph*        100  1827  1348  1972  2249
2    BioGraph*       1000  2004  1171  1795  2331
3    BioGraph*      10000  2163  1012  1636  2717
4       Tardis         10   175  2048  3624  2449
5       Tardis        100  1729   494  2070  2877
6       Tardis       1000  1924   299  1875  2942
7       Tardis      10000  1983   240  1816  3248
8  breakdancer         10    58  3484  3741  2026
9  breakdancer        100  1883  1659  1916  2483

In [116]:
%store df_sum

Stored 'df_sum' (DataFrame)

In [117]:
df_sum.to_csv('../Data/analysis_files/df_sum.csv')

In [118]:
df_merge.to_csv('../Data/analysis_files/df_merged.csv')

In [119]:
df_merge.head()

,tool,threshold,strain,nTP,nFP,nTN,n_true,nFN,sensitivity,precision,specificity,f-score
0,BioGraph*,10,AKR_J,36,389,206,504,468,0.071429,0.084706,0.346218,0.077503
1,BioGraph*,100,AKR_J,249,176,289,504,255,0.494048,0.585882,0.621505,0.536060
2,BioGraph*,1000,AKR_J,269,156,299,504,235,0.533730,0.632941,0.657143,0.579117
3,BioGraph*,10000,AKR_J,291,134,347,504,213,0.577381,0.684706,0.721414,0.626480
4,Tardis,10,AKR_J,51,245,284,504,453,0.101190,0.172297,0.536862,0.127500