In [1]:
import pandas as pd
import numpy as np
import allel
import os

In [2]:
strain=['A_J','AKR_J','BALB_CJ','CBA_J','C3H_HeJ','DBA_2J','LP_J']

tools=['BioGraph*',
'breakdancer',
'clever',
'delly',
'gasv',
'gridss',
'indelminer',
'lumpexpress',
'mistrvar',
'pindel',
'popdel',
'rdxplorer',
'smoove',
'sniffles',
'crest',
'genomestrip',
'manta_candidateSV']

In [3]:
df_10=pd.read_csv('../Data/analysis_files/df_10.csv')
df_100=pd.read_csv('../Data/analysis_files/df_100.csv')
df_1000=pd.read_csv('../Data/analysis_files/df_1000.csv')
df_10000=pd.read_csv('../Data/analysis_files/df_10000.csv')

df_10_nondel=pd.read_csv('../Data/analysis_files/df_10_nondel.csv')
df_100_nondel=pd.read_csv('../Data/analysis_files/df_100_nondel.csv')
df_1000_nondel=pd.read_csv('../Data/analysis_files/df_1000_nondel.csv')
df_10000_nondel=pd.read_csv('../Data/analysis_files/df_10000_nondel.csv')

pdList = [df_10,df_100,df_1000,df_10000,df_10_nondel,df_100_nondel,df_1000_nondel,df_10000_nondel] 
df_cat = pd.concat(pdList)

gs_=pd.read_csv('../Data/gold_standard/gs_')

In [4]:
df_cat.head()
df_cat = df_cat[df_cat['length'] >= 50]

In [5]:
df_cat.loc[(df_cat['length'] >= 50) & (df_cat['length'] < 100),'len'] = '50-100'
df_cat.loc[(df_cat['length'] >= 100) & (df_cat['length'] < 500),'len'] = '100-500'
df_cat.loc[(df_cat['length'] >= 500) & (df_cat['length'] < 1000),'len'] = '500-1000'
df_cat.loc[(df_cat['length'] >= 1000),'len'] = '1000+'
df_cat

,Unnamed: 0,tool,strain,length,flag,position,threshold,len
3,3,manta_candidateSV,LP_J,228,FP,3235828,10,100-500
4,4,manta_candidateSV,LP_J,288,FP,3236916,10,100-500
10,10,manta_candidateSV,LP_J,93,FP,6054981,10,50-100
11,11,manta_candidateSV,LP_J,93,FP,6054981,10,50-100
12,12,manta_candidateSV,LP_J,1728,FP,6055200,10,1000+
...,...,...,...,...,...,...,...,...
125647,125647,BioGraph*,A_J,36477,TN,61132293,10000,1000+
125648,125648,BioGraph*,A_J,36477,TN,61132293,10000,1000+
125649,125649,BioGraph*,A_J,8527,TN,61175238,10000,1000+
125650,125650,BioGraph*,A_J,8206,TN,61184017,10000,1000+
125651,125651,BioGraph*,A_J,239222,TN,61192344,10000,1000+

In [6]:
df_merge_all_len=pd.merge(df_cat, gs_,on=['strain','len'])
del df_merge_all_len['Unnamed: 0_x']
del df_merge_all_len['Unnamed: 0_y']
df_merge_all_len

,tool,strain,length,flag,position,threshold,len,n_true
0,manta_candidateSV,LP_J,228,FP,3235828,10,100-500,228
1,manta_candidateSV,LP_J,288,FP,3236916,10,100-500,228
2,manta_candidateSV,LP_J,159,FP,8888963,10,100-500,228
3,manta_candidateSV,LP_J,159,FP,8888963,10,100-500,228
4,manta_candidateSV,LP_J,310,FP,8890098,10,100-500,228
...,...,...,...,...,...,...,...,...
1106620,breakdancer,A_J,724,TN,59953001,10000,500-1000,74
1106621,breakdancer,A_J,919,TN,61025771,10000,500-1000,74
1106622,breakdancer,A_J,852,TN,61113384,10000,500-1000,74
1106623,BioGraph*,A_J,901,TN,39516781,10000,500-1000,74
1106624,BioGraph*,A_J,530,TN,59952237,10000,500-1000,74

In [7]:
df_count_TP = df_merge_all_len[df_merge_all_len['flag'] == 'TP'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_TP = df_count_TP.rename(columns={"flag": "nTP"})
df_count_TP.shape
df_count_TP.head()

        tool  threshold strain       len  n_true  nTP
0  BioGraph*         10  AKR_J   100-500     234   19
1  BioGraph*         10  AKR_J     1000+     140   10
2  BioGraph*         10  AKR_J    50-100      37    2
3  BioGraph*         10  AKR_J  500-1000      83    5
4  BioGraph*         10    A_J   100-500     249   29

In [8]:
df_count_FP = df_merge_all_len[df_merge_all_len['flag'] == 'FP'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_FP = df_count_FP.rename(columns={"flag": "nFP"})
df_count_FP.shape
df_count_FP.head()

        tool  threshold strain       len  n_true  nFP
0  BioGraph*         10  AKR_J   100-500     234  153
1  BioGraph*         10  AKR_J     1000+     140   77
2  BioGraph*         10  AKR_J    50-100      37  132
3  BioGraph*         10  AKR_J  500-1000      83   27
4  BioGraph*         10    A_J   100-500     249  162

In [9]:
df_count_TN = df_merge_all_len[df_merge_all_len['flag'] == 'TN'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_TN = df_count_TN.rename(columns={"flag": "nTN"})
df_count_TN.shape
df_count_TN.head()

        tool  threshold   strain       len  n_true  nTN
0  BioGraph*         10    AKR_J     1000+     140  205
1  BioGraph*         10    AKR_J  500-1000      83    1
2  BioGraph*         10      A_J     1000+     158  220
3  BioGraph*         10  BALB_CJ     1000+     157  235
4  BioGraph*         10  BALB_CJ  500-1000      77    2

In [10]:
#for s in strain:
    #for t in tools:
        #for th in [10,100,1000,10000]:
            #for l in ["50-100","100-500","500-1000","1000+"]:
                #if not (((df_count_TP['tool'] == t) & (df_count_TP['strain'] == s) & (df_count_TP['threshold'] == th) & (df_count_TP['len'] == l)).any()):
                    #df_count_TP = df_count_TP.append({'tool' : t , 'strain' : s, 'len' : l,'threshold' : th,'nTP' : 0} , ignore_index=True)
#df_count_TP.shape
#df_count_TP.head()

In [11]:
df_merged = pd.DataFrame(columns=['tool', 'threshold', 'strain', 'len','nTP', 'nFP','nTN'])

for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            for l in ["50-100","100-500","500-1000","1000+"]:
                #dfObj = dfObj.append({'User_ID': 25, 'UserName': 'Jack', 'Action': 'Login'}, ignore_index=True)
                if (((df_count_TP['tool'] == t) & (df_count_TP['strain'] == s) & (df_count_TP['threshold'] == th) & (df_count_TP['len'] == l)).any()):
                    tp = df_count_TP[(df_count_TP['tool'] == t) & (df_count_TP['strain'] == s) & (df_count_TP['threshold'] == th) & (df_count_TP['len'] == l)]
                    tp = tp['nTP']
                    tp = tp.values[0]
                else:
                    tp = 0
                    
                if (((df_count_FP['tool'] == t) & (df_count_FP['strain'] == s) & (df_count_FP['threshold'] == th) & (df_count_FP['len'] == l)).any()):
                    fp = df_count_FP[(df_count_FP['tool'] == t) & (df_count_FP['strain'] == s) & (df_count_FP['threshold'] == th) & (df_count_FP['len'] == l)]
                    fp = fp['nFP']
                    fp = fp.values[0]
                else:
                    fp = 0
                 
                if (((df_count_TN['tool'] == t) & (df_count_TN['strain'] == s) & (df_count_TN['threshold'] == th) & (df_count_TN['len'] == l)).any()):
                    tn = df_count_TN[(df_count_TN['tool'] == t) & (df_count_TN['strain'] == s) & (df_count_TN['threshold'] == th) & (df_count_TN['len'] == l)]
                    tn = tn['nTN']
                    tn = tn.values[0]
                else: 
                    tn = 0
                
                #print(tp.values[0])
                df_merged = df_merged.append({'tool':t, 'threshold':th, 'strain':s, 'len':l,'nTP':tp, 'nFP':fp,'nTN':tn},ignore_index=True)
#df_count_TP.shape

In [12]:
df_merged

                   tool threshold strain       len  nTP  nFP  nTN
0             BioGraph*        10    A_J    50-100    2  136    0
1             BioGraph*        10    A_J   100-500   29  162    0
2             BioGraph*        10    A_J  500-1000    3   29    0
3             BioGraph*        10    A_J     1000+   13   94  220
4             BioGraph*       100    A_J    50-100   19  119    0
...                 ...       ...    ...       ...  ...  ...  ...
1899  manta_candidateSV      1000   LP_J     1000+  108   40  533
1900  manta_candidateSV     10000   LP_J    50-100   25  180  153
1901  manta_candidateSV     10000   LP_J   100-500   70  251  441
1902  manta_candidateSV     10000   LP_J  500-1000   13   66  122
1903  manta_candidateSV     10000   LP_J     1000+   59   89  572

[1904 rows x 7 columns]

In [13]:
df_merged_all=pd.merge(df_merged, df_merge_all_len,on=['strain','len','tool','threshold'])
del df_merged_all['length']
del df_merged_all['flag']
del df_merged_all['position']
df_merged_all

                      tool threshold strain     len nTP  nFP  nTN  n_true
0                BioGraph*        10    A_J  50-100   2  136    0      37
1                BioGraph*        10    A_J  50-100   2  136    0      37
2                BioGraph*        10    A_J  50-100   2  136    0      37
3                BioGraph*        10    A_J  50-100   2  136    0      37
4                BioGraph*        10    A_J  50-100   2  136    0      37
...                    ...       ...    ...     ...  ..  ...  ...     ...
1106620  manta_candidateSV     10000   LP_J   1000+  59   89  572     139
1106621  manta_candidateSV     10000   LP_J   1000+  59   89  572     139
1106622  manta_candidateSV     10000   LP_J   1000+  59   89  572     139
1106623  manta_candidateSV     10000   LP_J   1000+  59   89  572     139
1106624  manta_candidateSV     10000   LP_J   1000+  59   89  572     139

[1106625 rows x 8 columns]

In [14]:
df_merged_all['nFN']=df_merged_all['n_true']-df_merged_all['nTP']
df_merged_all

                      tool threshold strain     len nTP  nFP  nTN  n_true nFN
0                BioGraph*        10    A_J  50-100   2  136    0      37  35
1                BioGraph*        10    A_J  50-100   2  136    0      37  35
2                BioGraph*        10    A_J  50-100   2  136    0      37  35
3                BioGraph*        10    A_J  50-100   2  136    0      37  35
4                BioGraph*        10    A_J  50-100   2  136    0      37  35
...                    ...       ...    ...     ...  ..  ...  ...     ...  ..
1106620  manta_candidateSV     10000   LP_J   1000+  59   89  572     139  80
1106621  manta_candidateSV     10000   LP_J   1000+  59   89  572     139  80
1106622  manta_candidateSV     10000   LP_J   1000+  59   89  572     139  80
1106623  manta_candidateSV     10000   LP_J   1000+  59   89  572     139  80
1106624  manta_candidateSV     10000   LP_J   1000+  59   89  572     139  80

[1106625 rows x 9 columns]

In [15]:
df_merged_all = df_merged_all.astype({'nTP': 'float64', 'nFP': 'float64', 'nTN': 'float64', 'nFN': 'float64'})

df_merged_all['sensitivity']=df_merged_all['nTP']/df_merged_all['n_true']
df_merged_all['precision']=df_merged_all['nTP']/(df_merged_all['nTP'] + df_merged_all['nFP'])                                                                                    
df_merged_all['specificity']=df_merged_all['nTN']/(df_merged_all['nTN']+df_merged_all['nFP'])
df_merged_all['f-score']=2*(df_merged_all['sensitivity']*df_merged_all['precision'])/(df_merged_all['sensitivity']+df_merged_all['precision']+0.00000001)

df_merged_all = df_merged_all.astype({'nTP':'int64', 'nFP':'int64', 'nTN':'int64'})
df_merged_all.loc[np.isnan(df_merged_all['precision']), 'precision'] = 0

df_merged_all.tail()

,tool,threshold,strain,len,nTP,nFP,nTN,n_true,nFN,sensitivity,precision,specificity,f-score
1106620,manta_candidateSV,10000,LP_J,1000+,59,89,572,139,80.0,0.42446,0.398649,0.865356,0.41115
1106621,manta_candidateSV,10000,LP_J,1000+,59,89,572,139,80.0,0.42446,0.398649,0.865356,0.41115
1106622,manta_candidateSV,10000,LP_J,1000+,59,89,572,139,80.0,0.42446,0.398649,0.865356,0.41115
1106623,manta_candidateSV,10000,LP_J,1000+,59,89,572,139,80.0,0.42446,0.398649,0.865356,0.41115
1106624,manta_candidateSV,10000,LP_J,1000+,59,89,572,139,80.0,0.42446,0.398649,0.865356,0.41115

In [16]:
df_merged_all.to_csv('../Data/analysis_files/df_merged_all.csv')